@charset "utf-8";
/* CSS Document */
.team{padding-bottom:50px;}
.team .title{padding:0 0 60px 0;text-align:center;}
.team li{float:left;padding:20px 25px;text-align:left;transition:all .3s ease;-moz-transition:all .3s ease;-webkit-transition:all .3s ease;position:relative;}
.team li h3{color:#474747;font-size:18px;padding:10px 0 0 0;}
.team li h3 span{font-size:14px;}
.team li:hover{background:#f8f6f6;}
.team li div{overflow:hidden;width:250px;height:324px;}
.team li .hidden{position:absolute;top:40%;left:32%;color:#fff;border:2px solid #fff;display:block;padding:10px 20px; display:none;}
.team li p{width:200px;background:#fff;font-size:14px;line-height:18px;padding:10px 0;}

